@model BookGenrePublisher

@{
    ViewData["Title"] = "Books List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h3 class="display-6">&nbsp;</h3>
            <p class="font-weight-bold">Filter by genre:</p>
            @using (Html.BeginForm("RedirectToBooksByGenre", "Home", FormMethod.Post))
            {
                List<SelectListItem> listItems = new List<SelectListItem>();
                @foreach (var genre in Model.Genres)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = genre.GenreName,
                        Value = genre.GenreId.ToString()
                    });
                }
                @Html.DropDownListFor(model => model.Genres, listItems, "-- Select Genre --", new {style = "width: 170px;", onchange = "this.form.submit();"})
            }
            <p>&nbsp;</p>
            <p class="font-weight-bold">Filter by publisher:</p>
            @using (Html.BeginForm("RedirectToBooksByPublishers", "Home", FormMethod.Post))
            {
                List<SelectListItem> listItems = new List<SelectListItem>();
                @foreach (var publisher in Model.Publishers)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = publisher.PublisherName,
                        Value = publisher.PublisherId.ToString()
                    });
                }
                @Html.DropDownListFor(model => model.Publishers, listItems, "-- Select Publisher --", new {style = "width: 170px;", onchange = "this.form.submit();"})
            }

        </div>
        <div class="col-10 text-center">
            <h3 class="display-6">Books List</h3>
            @if (Model.Books.Any())
            {
                <table class="table table-striped table-hover">
                    @foreach (var obj in Model.Books)
                    {
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="font-weight-bolder"><a asp-controller="Home" asp-action="BookDetails" asp-route-bookId="@obj.BookId">@obj.Title</a></span><br><a asp-controller="Home" asp-action="BookDetails" asp-route-bookId="@obj.BookId"><img src="@obj.FigUrl" alt="@obj.Title" style="width: 150px"></a>
                                    </div>
                                    <div class="col-md-5 text-left">
                                        <p>&nbsp;</p>
                                        <p>Genre: @obj.Genre.GenreName<br>Publisher: @obj.Publisher.PublisherName<br>Price: @obj.Price zł</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <p></p>
                                        <form>
                                            <label for="quantity">Quantity: </label>
                                            <input id="quantity" name="quantity" type="number" value="1" man="1" max="1000" step="1" style="width: 60px;"><br/>
                                            <input type="button" value="Add to basket" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>