@{
    ViewData["Title"] = "Your Shopping Cart";
}

@model OrderViewModel

<div class="text-center">
    <h1 class="display-4">Your Shopping Cart</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

@* TODO: here a table with shopping cart to confirm & edit *@
<div>
    <table>
        <tr>
            <
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
            <th>
                Total Price
            </th>
        </tr>
        @foreach (var book in Model.ShoppingCartViewModel.AnonymousBasket)
        {
            <tr>
                @* <td> *@
                @*     @book.BookId *@
                @* </td> *@
                @* TODO: book title from db?*@
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Price
                </td>
                <td>
                    @book.Quantity
                </td>
                <td>
                    @(book.Price * book.Quantity)
                </td>
                @* <td> *@
                @*     @* *@
                @*         @Html.ActionLink("szczegóły", "Details", "Home", new { id = employee.Id }) *@
                @*     *@ 
                @* <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id"> szczegóły </a> *@
                @* </td> *@
            </tr>
        }
    </table>
</div>

<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Checkout" class="btn btn-primary btn-block" id="checkout-btn" />
</div>

@using (Html.BeginForm("CheckOut", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal d-none" id="checkout-form">
        <h4>Customer data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderId)

        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Alex Smith" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "asmith@host.com" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.Phone, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "123456789" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <h4>Billing Address</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.BillingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.BillingCountry, new { id = "bill-country", htmlAttributes = new { @class = "form-control", placeholder = "Denmark" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.BillingCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.BillingCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.BillingCity, new { id = "bill-city", htmlAttributes = new { @class = "form-control", placeholder = "Copenhagen" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.BillingCity, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.BillingZip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.BillingZip, new { id = "bill-zip", htmlAttributes = new { @class = "form-control", placeholder = "303-045" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.BillingZip, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutViewModel.BillingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutViewModel.BillingAddress, new { id = "bill-address", htmlAttributes = new { @class = "form-control", placeholder = "Blau 23/5" } })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.BillingAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.CheckoutViewModel.BillingDifferentThanShipping, new { id = "shipping-checkbox", htmlAttributes = new { @class = "form-control"} })
                @Html.LabelFor(model => model.CheckoutViewModel.BillingDifferentThanShipping, htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.ValidationMessageFor(model => model.CheckoutViewModel.BillingDifferentThanShipping, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div id="shipping-form" class="d-none">
            <h4>Shipping Address</h4>
            <hr />
            
            <div class="form-group">
                @Html.LabelFor(model => model.CheckoutViewModel.ShippingCountry, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckoutViewModel.ShippingCountry, new { id = "shipp-country", htmlAttributes = new {@class = "form-control", placeholder = "Denmark"}})
                    @Html.ValidationMessageFor(model => model.CheckoutViewModel.ShippingCountry, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CheckoutViewModel.ShippingCity, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckoutViewModel.ShippingCity, new { id = "shipp-city", htmlAttributes = new {@class = "form-control", placeholder = "Copenhagen"}})
                    @Html.ValidationMessageFor(model => model.CheckoutViewModel.ShippingCity, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CheckoutViewModel.ShippingZip, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckoutViewModel.ShippingZip, new { id = "shipp-zip", htmlAttributes = new {@class = "form-control", placeholder = "303-045"}})
                    @Html.ValidationMessageFor(model => model.CheckoutViewModel.ShippingZip, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CheckoutViewModel.ShippingAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckoutViewModel.ShippingAddress, new { id = "shipp-address", htmlAttributes = new {@class = "form-control", placeholder = "Blau 23/5"}})
                    @Html.ValidationMessageFor(model => model.CheckoutViewModel.ShippingAddress, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        </div>
        
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Go to Payment" class="btn btn-primary btn-block" />
            </div>
        </div>
}


